* {
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI'
}

header {
    width: 100%;
    background-color: #FDCA46
}

.header-menu {
    max-width: 1084px;
    /* margin: 0 auto; */
    /* height: 97px; */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 20vh;

}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
    margin-left: 45px;
    font-size: 1.70em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background-color: #FDCA46;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

@media screen and (max-width:768px) {
    .toggle {
        display: block;
        height: 62px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        width: 100%;
        display: none;
    }

    nav ul li {
        display: block;
        text-align: center;
        font-size: 136%;
        margin-left: 10px;
        margin-top: 12px;
        background-color: #FDCA46;
    }

    .active {
        display: block;
        background-color: #FDCA46;
        height: 200px;
    }

    nav ul li a {
        color: black;
    }

    .logo {
        display: none;
    }

    .banner {
        margin-top: -113px;
    }

    .header-menu {
        margin-left: -10px;
    }

    .banner h1 {
        font-size: 5em;
    }
}

#nome-cpf, #div-header {
    background-color: #FDCA46;
    /* height: 100px; */
    margin: 0% auto;
    display: block;
    /* margin-left: 10%; */
}

#div-header{
    padding: 10px 20px;
}

#h1-nome {
    font-size: 1.50em;
    margin-left: 3%;
}

#h1-cpf {
    font-size: 1.50em;
    margin-left: 3%;
}

.card {
    width: 45%;
    margin-bottom: 1rem;
}

.div-card {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#card1 {
    background-color: #FDCA46;
    border-radius: 13px;
    height: 30%;
}

#card2 {
    background-color: #FDCA46;
    border-radius: 13px;
    height: 30%;
}

#card3 {
    background-color: #FDCA46;
    border-radius: 13px;
    height: 30%;
}

#card4 {
    background-color: #FDCA46;
    border-radius: 13px;
    height: 30%;
}

#img1 {
    width: 60%;
    margin: 1rem;
}

#img2 {
    width: 60%;
    margin: 1rem;
}

#img3 {
    width: 60%;
    margin: 1rem;
}

#img4 {
    width: 60%;
    margin: 1rem;
}

#c-c .card {
    width: 80%;
    padding: 1rem;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.some-btn {
    background-color: #FDCA46;
    border-radius: 100px;
    padding: .5rem;
    border: 1px solid gray;
}

.delete-btn {
    background-color: tomato;
    border-radius: 100px;
    padding: .5rem;
    color: white;
    border: 1px solid gray;
}

.fixed-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    box-shadow: 0px 0px 16px gray;
    z-index: 123;
}