* {
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI'
}

header {
    width: 100%;
    background-color: #FDCA46
}

.header-menu {
    max-width: 1084px;
    /* margin: 0 auto; */
    /* height: 97px; */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 20vh;

}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
    margin-left: 45px;
    font-size: 1.70em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background-color: #FDCA46;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

@media screen and (max-width:768px) {
    .toggle {
        display: block;
        height: 62px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        width: 100%;
        display: none;
    }

    nav ul li {
        display: block;
        text-align: center;
        font-size: 136%;
        margin-left: 10px;
        margin-top: 12px;
        background-color: #FDCA46;
    }

    .active {
        display: block;
        background-color: #FDCA46;
        height: 200px;
    }

    nav ul li a {
        color: black;
    }

    .logo {
        display: none;
    }

    .banner {
        margin-top: -113px;
    }

    .header-menu {
        margin-left: -10px;
    }

    .banner h1 {
        font-size: 5em;
    }
}

#nome-cpf, #div-header {
    background-color: #FDCA46;
    /* height: 100px; */
    margin: 0% auto;
    display: block;
    /* margin-left: 10%; */
}

#div-header {
    padding: 10px 20px;
}

#h1-nome {
    font-size: 1.50em;
    margin-left: 3%;
}

#h1-cpf {
    font-size: 1.50em;
    margin-left: 3%;
}

.card {
    width: 45%;
    margin-bottom: 1rem;
}

.card.home {
    min-height: 200px;
}

.div-card {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#card1 {
    background-color: #FDCA46;
    border-radius: 13px;
    height: 30%;
}

#card2 {
    background-color: #FDCA46;
    border-radius: 13px;
    height: 30%;
}

#card3 {
    background-color: #FDCA46;
    border-radius: 13px;
    height: 30%;
}

#card4 {
    background-color: #FDCA46;
    border-radius: 13px;
    height: 30%;
}

#img1 {
    width: 60%;
    margin: 1rem;
}

#img2 {
    width: 60%;
    margin: 1rem;
}

#img3 {
    width: 60%;
    margin: 1rem;
}

#img4 {
    width: 60%;
    margin: 1rem;
}

#c-c .card, .card.c-c-c {
    width: 80%;
    padding: 1rem;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.card.c-c-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.some-btn {
    background-color: #FDCA46;
    border-radius: 100px;
    padding: .5rem;
    border: 1px solid gray;
}

.delete-btn {
    background-color: tomato;
    border-radius: 100px;
    padding: .5rem;
    color: white;
    border: 1px solid gray;
}

.fixed-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    box-shadow: 0px 0px 16px gray;
    z-index: 123;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}


.contato-p * {
    font-family: 'Segoe UI';
}

.contato-p .some-btn {
    margin: 1rem 0 0 1rem;
}

.contato-p #div-img {
    /* background-color: #E0E0E0; */
    width: 20%;
    height: 300px;
    margin: 0% auto;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    border-radius: 140px;
}

.contato-p #div-img img {
    border-radius: 200px;
}

.contato-p #nome {
    justify-content: center;
    margin: 0% auto;
    display: flex;
}

/* .contato-p #div-wpp-msg {
    margin: 0% auto;
    display: flex;
    height: 400px;
    float: left;
    width: 100%;
} */

.contato-p #fundo-wpp-msg {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding-top: 2rem;
}

.contato-p #div-msg {
    /* background-color: #E0E0E0; */
    width: 20%;
    height: 200px;
    border-radius: 140px;
}

.radius {
    border-radius: 1000px;
}

.interface * {
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI';
}

.interface #div-btn-motorista {
    max-width: 1220px;
    height: 100px;
    margin: 0% auto;
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.interface #div-btn-responsavel {
    max-width: 1220px;
    height: 100px;
    margin: 0% auto;
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.interface #btn-motorista {
    border-radius: 13px;
    width: 90%;
    background-color: #FDCA46;
    font-size: 1.50em;
}

.interface #btn-responsavel {
    border-radius: 13px;
    width: 90%;
    background-color: #FDCA46;
    font-size: 1.50em;
}

.form h1 {
    height: 100px;
    background: #FDCA46;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.form form {
    padding: 1rem;
    margin-top: 5rem;
}

form div {
    margin-bottom: 1rem;
}

form input {
    width: 100%;
    border: 1px solid rgb(253, 202, 70);
    padding: 4px;
    box-sizing: border-box;
    border-radius: 4px;
}

.some-btn:disabled{
    background-color: #FDCA46BA;
}